<section
    id="about-me"
    class="relative w-full min-h-screen flex flex-col items-center justify-center gap-16 px-8 py-16"
>
    <p>I am struggling to figure out what to write here!</p>
</section>
