---
import Layout from "../layouts/Layout.astro";
import Icon from "../components/Icon.astro";
import WhoAmI from "../components/WhoAmI.astro";
import Socials from "../components/Socials.astro";
import "../styles/global.css";
---

<Layout>
    <main class="w-full h-screen flex items-center justify-center bg-bg">
        <div class="grid grid-cols-2 grid-rows-[auto_auto] gap-x-20 gap-y-10">
            <Icon />
            <WhoAmI />

            <div class="col-span-2 flex justify-center">
                <Socials />
            </div>
        </div>
    </main>
</Layout>
