<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <meta name="google-site-verification" content="YHGPpZnhTLJQj2DmR2VRmFuD74vopKyIcNkPIpMM-50" />
        
        <title>Cat Thoughts</title>
        
        <meta property="og:title" content="DownloadableFox">
        <meta property="og:description" content="Engineering student, developer, and cat on the internet.">
        <meta property="og:image" content="https://downloadablefox.dev/preview.jpg">
        <meta property="og:url" content="https://downloadablefox.dev/">
        <meta property="og:type" content="website">
    </head>
    <body class="bg-bg text-foreground font-mono text-white">
        <slot />
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
