---
const totally_normal_video = "https://www.youtube.com/watch?v=dQw4w9WgXcQ";
---

<nav
    class="fixed z-50 top-0 left-0 w-full flex flex-row items-center justify-end py-4 px-8 gap-6"
>
    <a
        href="#about-me"
        class="text-xl font-mono tracking-tight text-text hover:text-primary transition-all">About</a
    >
    <a
        href={totally_normal_video}
        class="text-xl font-mono tracking-tight text-text hover:text-primary transition-all">Projects</a
    >
    <a
        href={totally_normal_video}
        class="text-xl font-mono tracking-tight text-text hover:text-primary transition-all">Blog</a
    >
</nav>
