---
import Instagram from "../../assets/svgs/instagram.svg";
import Bluesky from "../../assets/svgs/bluesky.svg";
import Discord from "../../assets/svgs/discord.svg";
import GitHub from "../../assets/svgs/github.svg";
---

<section id="socials" class="flex flex-col items-center gap-2">
    <h2 class="text-2xl font-mono text-muted">Find me on:</h2>
    <div class="flex gap-4 h-8">
        <a href="https://instagram.com/sorrelbyte" aria-label="Instagram">
            <Instagram
                class="h-full aspect-square fill-current text-muted hover:text-primary transition-all"
            />
        </a>

        <a
            href="https://bsky.app/profile/downloadablefox.dev"
            aria-label="Bluesky"
        >
            <Bluesky
                class="h-full aspect-square fill-current text-muted hover:text-primary transition-all"
            />
        </a>

        <a
            href="https://discord.com/users/556132236697665547"
            aria-label="Discord"
        >
            <Discord
                class="h-full aspect-square fill-current text-muted hover:text-primary transition-all"
            />
        </a>

        <a href="https://github.com/downloadablefox" aria-label="GitHub">
            <GitHub
                class="h-full aspect-square fill-current text-muted hover:text-primary transition-all"
            />
        </a>
    </div>
</section>
